body {
	margin-top: 150px;
	color: #000;
	background-color: #ffffff;
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
}
